.container {
	position: relative;
	width: 900px;
}

#svg_kaart {
	height: 600px;
}

#histogram {
	border: 9px;
	border-color: black;
	position: relative;
	height: 500px;
	background-color: rgba(255, 255, 0, 0.09);
}

#bottom {
	height: 200px;
}