.container {
	position: relative;
	width: 600px;
}

#histogram {
	width:600;
	display: flex;
	justify-content: center;
}

.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

#dropdown {
	margin-left: 500px;
}

#bottom {
	display: flex;
}

.piechart_container {
	background-color: #967171;
	margin-left:200;
	padding-left: 100px;
}